{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading.ng || {% block title %}
      
    {% endblock title %}</title>

    <!-- CSS STATIC  -->
    
    
	
    <!-- ANIMATION CSS / -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    {% block staticss %}
      
    {% endblock staticss %}
        
	<link rel="stylesheet" href="{% static 'css/_responsiveness.css' %}">

</head>
    <body >
       
        <!-- data-aos="fade-up" -->
    {% block content %}
      
    {% endblock content %}
    
    <!-- JAVASCRIPT STATIC  -->


    <script>
        AOS.init({
          offset:400,
          duration:1000
        });
      </script> 
    {% block script %} {% endblock script %}

</body>
</html>